window {
    font-family: "FiraCode Nerd Font Regular";
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0;
    margin: 0;
}

#input {
    margin: 0;
    color: white;
    color: --wofi-color15;
    background: transparent;
    padding-top: 1px;
    padding-bottom: 1px;
}

#inner-box {
    background: transparent;
}

#outer-box {
    margin: 0;
    padding: 0;
}

#entry {
    padding: 8px;
    color: white;
    color: --wofi-color15;
}

#entry:selected {
    background-color: #c5b4bc;
    background-color: --wofi-color4;
}

#entry:selected label {
    color: #2e3440;
    color: --wofi-color0;
}

#img {
    margin-right: 8px;
}
